PRESIDENT.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT LIST (PRESIDENT+)>
<!ELEMENT PRESIDENT (NAME,TERM,PARTY,HOMESTATE)>
<!ELEMENT NAME (FIRST,MIDDLE,LAST)>
<!ELEMENT FIRST (#PCDATA)>
<!ELEMENT MIDDLE (#PCDATA)>
<!ELEMENT LAST (#PCDATA)>
<!ELEMENT TERM (TERMSTART,TERMEND,TERMLENGTH)>
<!ELEMENT TERMSTART (#PCDATA)>
<!ELEMENT TERMEND (#PCDATA)>
<!ELEMENT TERMLENGTH (#PCDATA)>
<!ELEMENT PARTY (#PCDATA)>
<!ELEMENT HOMESTATE (#PCDATA)>

