Repractice/xsd_employee_compEle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.0" vc:maxVersion="1.1">
<xs:element name="employee">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="empno" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="salary" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
